:root {
    --corners: 0.5rem;
    --heading-size: 2rem;
    --theme-color: #dc4d3f;
    --heading-color: #ffece8;
    --background-color: #fafafa;
    --border: 0.05rem solid rgb(211, 211, 211);
}

* {
    box-sizing: border-box;
    font-size: 1em;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

/* CSS for Menu */
#menu {
    position: relative;
    grid-column: 1/6;
    grid-row: 4/10;
    margin: 0 4vw 0 0;
    border: var(--border);
    border-bottom-right-radius: var(--corners);
    background-color: var(--background-color);
}

#menu-title {
    grid-column: 1/6;
    grid-row: 3/4;
    margin: 0 4vw 0 0;
    padding: 0.7rem 0;
    background-color: var(--theme-color);
    border-top-right-radius: var(--corners);
    text-align: center;
    color: var(--heading-color);
    font-size: var(--heading-size);
}

.navigation-link {
    padding: 1rem 0;
    margin: 1rem 1rem;
    display: block;
    text-align: center;
    background-color: var(--theme-color);
    /* border-radius: var(--corners); */
    color: var(--heading-color);
    font-weight: bold;
    text-decoration: none;
    
}

#contact-div {
    
    width: 100%;
    bottom: 0;
    position: absolute;
    /* display: flex; */
    /* width: fit-content; */
    /* align-items: center;
    justify-items: center; */
}

#contact-links-div {
    width: 100%;
    padding: 1rem;
    display: flex;
    
    text-align: center;
    justify-content: space-around;

}

.contact-link {
    width: 2rem;
    height: 2rem;
}

/*      main CSS         */
main {
    grid-column: 6/21;
    grid-row: 2/12;
    width: 100%;
}

#Control {
    display: flex;
    align-items: center;
    padding: 0.7rem 0;
    width: 100%;
    background-color: var(--theme-color);
    border-top-left-radius: var(--corners);
    text-align: center;
    color: var(--heading-color);
    font-size: var(--heading-size);
    justify-content: space-evenly;
}
#selector-span {
    display: flex;
    align-items: center;
}
#priority-selector {
    font-size: 2rem;
    text-align: left;
    appearance: none;
    border: none;
    background-color: transparent;
}
#selector-svg {
    width: 2rem;
    height: 2rem;
}

#input-span {
    position: relative;
}
#input-text{
    width: 100%;
}
#add-button {
    margin: auto 0;
    background-color: transparent;
    border:none;
    top:0.005rem;
    right: 0rem;
}
#delete-all-button{
    grid-column: 1/4;
}

#sort-button {
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 3rem;
    filter: brightness(30%);
}
#command-input {
    grid-column: 1/4;
    grid-row: 12;
}

#keyboard-mode {
    grid-column: 2/3;
    grid-row: 4/10;
}



/*      navigator CSS        */
#navigator-container {
    grid-column: 1/21;
    grid-row: 1;
    font-size: 4rem;
    opacity: 40%;
    font-weight: bold;
}

/*      counter CSS      */
#counter {
}