:root {
    --corners: 0.5rem;
    --heading-size: 2rem;
    --theme-color: #dc4d3f;
    --heading-color: #ffece8;
    --background-color: #fafafa;
    --border: 0.05rem solid rgb(211, 211, 211);
    --big-text-color: rgb(211, 211, 211);
}

* {
    box-sizing: border-box;
    font-size: 1em;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(12, 1fr);
    font-family: 'Sriracha', cursive;
}

/* CSS for Menu */
#menu {
    position: relative;
    grid-column: 1/6;
    grid-row: 4/10;
    margin: 0 4vw 0 0;
    border: var(--border);
    border-bottom-right-radius: var(--corners);
    background-color: var(--background-color);
}

#menu-title {
    grid-column: 1/6;
    grid-row: 3/4;
    margin: 0 4vw 0 0;
    padding: 0.7rem 0;
    background-color: var(--theme-color);
    border-top-right-radius: var(--corners);
    text-align: center;
    color: var(--heading-color);
    font-size: var(--heading-size);
}

.navigation-link {
    padding: 1rem 0;
    margin: 1rem 1rem;
    display: block;
    text-align: center;
    background-color: var(--theme-color);
    /* border-radius: var(--corners); */
    color: var(--heading-color);
    font-weight: bold;
    text-decoration: none;
    
}

#contact-div {
    
    width: 100%;
    bottom: 0;
    position: absolute;
    /* display: flex; */
    /* width: fit-content; */
    /* align-items: center;
    justify-items: center; */
}

#contact-links-div {
    width: 100%;
    padding: 1rem;
    display: flex;
    
    text-align: center;
    justify-content: space-around;

}

.contact-link {
    width: 2rem;
    height: 2rem;
}

/*      Main CSS         */
main {
    grid-column: 6/21;
    grid-row: 2/12;
    width: 100%;
    border: var(--border);
    border-bottom: none;
    /* border-bottom-left-radius: var(--corners); */
    border-top-left-radius: var(--corners);
}

/*      Control CSS      */
#Control {
    display: flex;
    align-items: center;
    padding: 0.7rem 0;
    width: 100%;
    background-color: var(--theme-color);
    border-top-left-radius: var(--corners);
    text-align: center;
    color: var(--heading-color);
    font-size: var(--heading-size);
    justify-content: space-evenly;
}

/*      Priority Selector CSS        */
#selector-span {
    display: flex;
    align-items: center;
}

#priority-selector {
    font-size: 2rem;
    text-align: left;
    appearance: none;
    border: none;
    background-color: transparent;
}

#selector-svg {
    width: 2rem;
    height: 2rem;
}

/*       Text-Input CSS         */
#input-span {
    position: relative;
}
#input-text{
    width: 100%;
    font-family: inherit;
}
#add-button {
    margin: auto 0;
    background-color: transparent;
    border:none;
    top:0.005rem;
    right: 0rem;
}
/*      Delete All button by CSS         */
#delete-all-button{
    grid-column: 1/4;
}
/*      Sort Button CSS         */
#sort-button {
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 3rem;
    filter: brightness(30%);
}

/*      Keyboard Mode CSS        */
#command-input {
    position: fixed;
    bottom: 0;
    left: 2rem;
    grid-column: 1/4;
    grid-row: 12;
    border: none;
    font-size: 3rem;
    opacity: 30%;
}
.keyset {
    display: inline-block;
    padding: 1rem;
    margin-left: 2rem;
}
#keyboard-mode-header {
    display: flex;
    justify-content: center;
    font-size: var(--heading-size);
}
#keyboard-mode-content {
    display: flex;
    padding: 2rem 0;
    /* justify-content: space-around; */
    flex-direction: column;
    align-content: space-around;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr); */
}

#keyboard-mode-keyset {
    /* grid-column: 1/20;
    grid-row: 1/12;  */
    position: fixed;
    top:  15%;
    left:  15%;
    width: 70%;
    height: 70%;
    /* margin-top:; */
    background-color: var(--theme-color);
    margin 0 auto;
    justify-content: center;
    align-content: center;
    margin 0 auto;
    box-shadow: 0 2rem 3rem black;
}



/*      Navigator CSS        */
#navigator-container {
    grid-column: 1/21;
    grid-row: 1;
    font-size: 4rem;
    opacity: 40%;
    font-weight: bold;
}

/*      counter CSS      */
#counter {
    grid-column: 2/4;
    grid-row: 10/12;
    display: flex;
    font-weight: bolder;
    justify-content:center;
    font-size: 6rem;
}

.todo-container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.todo-text {
    display: inline-block;
    
}
.todo-priority {
    display: inline-block;
    
}
.todo-date {
    display: inline-block;
    
}
#myButton {
    width: 20px;
  height: 20px;
  border: 6px, solid rgb(22, 25, 175);
  border-radius: 50%;
}

.delete-button::before {
    content:url(./assets/unitrash.svg);
}

hr {
    width: 90%;
    margin: 0 auto;
    border: var(--border)
}
